@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@200;300;400;500;600;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* font */
    --font-1: 'Poppins', sans-serif;
    --font-2: 'Lora', serif;
    --font-3: 'Lexend', sans-serif;
    --font-4: 'Libre Baskerville', serif;
    --font-5: 'Barlow', sans-serif;

    --color-green: #0DC5AE;
    --color-red: #FF0054;
    --color-orange: #FA541C;
    --color-text-1: #212B36;
    --color-text-2: #637381;
}
.background-light {
    background: #F1F1F1;
}
*, body{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-1);
}
/* Xem thêm */

.inner-more .inner-more-link {
    text-decoration: none;
    display: flex;
    align-items:center;
}
.inner-more .inner-more-text{
    color: var(--color-red);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--font-1);
    line-height: 30px;
    margin-right: 8px;
}
.inner-more i {
    color: var(--color-red);
}
/* End Xem thêm */
/* slick-arrow-icon */
.slick-arrow-icon {
    position: relative;
}
.slick-arrow-icon .slick-arrow {
    background-color: transparent;
    position: absolute;
    border: 0;
    top:50%;
    width: 40px;
    height: 40px;
    color: transparent;
    border-radius: 8px;
    z-index: 1;
}
.slick-arrow-icon .slick-arrow::before {
    content: "\f104";
    font-weight: 600;
    font-family: "Font awesome 6 Free";
    color: var(--text-green);
    font-size: 2.4rem;
   
}
.slick-arrow-icon .slick-next::before {
    content: "\f105";
}

.slick-arrow-icon .slick-next {
    right: -40px;
   
}
.slick-arrow-icon .slick-prev {
    left: -40px;
    z-index: 1;
}
.slick-slide {
    margin: 0 10px;
}
.slick-dots {
    bottom: -40px;
}
.slick-dots li button:before {
    font-size: 1.1rem;
    margin: 0 4px;
    color: #c4c4c4;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--color-green);
}
/* End slick-arrow-icon */